.section {
  height: 100vh;
  width: 100%;
  /* top: -4.5rem;
  position: relative; */
}

.backgroundContainer {
  background: url("/background.svg") no-repeat;
  background-size: max(100rem, 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.sectionContainer {
  display: flex;
  width: 70rem;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
  z-index: 1;
}

.leftContainer {
  width: 100%;
  overflow: hidden;
}

.textContainer {
  padding-top: 7rem;
  color: white;
}

.mainText {
  font-size: 3rem;
  margin-bottom: 0;
}

.highlightText {
  color: #f05454;
  font-weight: 400;
}

.navigationMenu {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 10px;
}

.navigationItem {
  text-decoration: none;
  max-width: 10rem;
}

.navigationItem:hover {
  color: #f05454;
}

.verticalLine {
  margin-left: 5px;
  height: 15rem;
  max-width: 1px;
  background-color: black;
}
.iconContainer {
  display: none;
}

@media screen and (max-width: 400px) {
  .imageHeroContainer {
    display: none;
  }

  .sectionContainer {
    display: flex;
    margin: 0 auto;
    background-image: linear-gradient(
      340deg,
      rgba(240, 84, 84, 0.7) 6.35%,
      rgba(18, 2, 107, 0.7) 93.31%
    );
    padding: 0 0.7rem;
  }

  .leftContainer {
    width: 100%;
  }

  .mainText {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: white;
  }

  .iconContainer {
    margin-top: 1rem;
    width: 13rem;
    max-width: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}
