.section {
  display: flex;
  height: 100vh;
  width: 100%;
  top: -9.5rem;
  position: relative;
  background: linear-gradient(180deg, #30475e 0%, #64829f 100%);
}

.sectionContainer {
  display: flex;
  width: 70rem;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  z-index: 1;
}
