.section {
  min-height: 100vh;
  width: 100%;

  overflow: hidden;
}

.sectionContainer {
  display: flex;
  max-width: 70rem;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: column;
  z-index: 1;
  flex-wrap: wrap;
}

.background {
  width: 100%;
  height: auto;
  background-color: #30475e;
}

.backgroundGeometry {
  width: 540px;
  height: 800px;
  right: 0;
  position: absolute;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background: linear-gradient(180deg, #222831 0%, rgba(34, 40, 49, 0) 100%);
}

.sectionTitle {
  color: #f05454;
  font-size: 3rem;
  max-width: 20rem;
  z-index: 1;
}

.sectionTitle::after {
  content: "";
  display: block;
  margin-top: 3px;
  height: 0.4rem;
  max-width: 8rem;
  background-color: #f05454;
}

.projectsGrid {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10rem, auto));
  column-gap: 2%;
  row-gap: 2%;
}

.seeMore {
  display: flex;
  margin-top: 2rem;
  /* justify-content: flex-end; */
  align-items: center;
  align-self: flex-end;
}

.seeMore a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.seeMore a:hover {
  color: #f05454;
}

@media screen and (max-width: 400px) {
  .backgroundGeometry {
    display: none;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .sectionTitle::after {
    width: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .projectsGrid {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, auto));
    column-gap: 2%;
    row-gap: 2%;
  }
}
