.header {
  z-index: 10;
  position: absolute;
  top: 0;
  width: min(90%, 70rem);
}

.container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 4.5rem;
  padding: 0 1rem;
  flex: auto;
  max-width: 70rem;
  margin: 0 auto;
}

.logo {
  color: #ff6768;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.iconContainer {
  width: 13rem;
  max-width: 18.75rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.iconContainer a {
  cursor: pointer;
}

.linkLogo {
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 20rem;
  }

  .iconContainer {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .iconContainer {
    display: none;
  }
}
