.header {
  z-index: 10;
  position: fixed;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 70rem;
  height: 4.5rem;
  padding: 0 1rem;
  flex: content;
}

.logo {
  color: #ff6768;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.iconContainer {
  width: 13rem;
  max-width: 18.75rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.iconContainer a {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 20rem;
  }

  .iconContainer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 40rem;
  }
}
