.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 70rem;
  height: 4.5rem;
  z-index: 1;
}

.logo {
  color: #ff6768;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.iconContainer {
  width: 13rem;
  max-width: 18.75rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
